@import url("/webfont/montserrat/stylesheet.css");
.gal{
	font-family: "Montserrat", sans-serif;
	display:flex;
	margin-top:8px;
	background:lightgray ;
}
.gal-thumb-container{
	flex-grow: 1;
	display: flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-content:flex-start;
	overflow-x:scroll;
	justify-content: space-between;
}
.gal-thumb-img{
	width: 128px;
	margin:8px;
	padding:8px;
	background-color:white;
}
.gal-expand{
	width:50%;
	background:white;
	padding:8px;
	margin:8px;
	margin:0;
}
div.gal-expand-img-container{
	background-color: black;
	width: 100%;
	margin:0; padding:0;
	display:inline-block;
	text-align: center; /*centers the image contained in this div*/
	overflow-y: hidden;
}
img.gal-expand-img{
	max-width: 100%;
	max-height: 60vh;
	height:auto;
	width:auto;
}
.gal-expand-title{
	font-weight: 700;
	font-size:26pt;
	margin-top:4px;
}
.gal-expand-caption{
	font-weight: 500;
	font-size:12pt;
	line-height:18pt;
	margin-top:4px;
}