@import url("/webfont/montserrat/stylesheet.css");
body{
    display: flex;
    flex-direction:row;
    width:95vw;
    height:95vh;
    padding:0;margin:0;
    overflow:hidden;
}
#nav-here{
	/*height: 100vh;*/
    width: 12.5%;
    height:100%;
    padding: 0 0 0 18px;
    margin : 0;
}
#panels {
    width: 87.5%;
    height:100%; 
    padding: 10px 16px 0 16px;
    margin: 0;
    display:block;
    overflow: hidden;
}

.nav{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
    font-size:12pt;
    padding:0;margin:0;
}
.nav a:link{ /* TODO this should work */
	color:black;
}
.nav a:hover{ /*this isn't applying to menunodes*/
	color:teal !important;
}
.nav a:visited{
	color:black;
}
.nav-node{
    padding:0;margin:0;
}
.nav-hidden{
	display:none !important;
}
.nav-end{
	color:black;
}
.nav-highlighted{
	font-weight:bold;
}
iframe.nav-iframe{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
    border: none;
    display:block;
    overflow: hidden;
}
.nav-indent{
    padding-left:16px;
}