@import url("/webfont/montserrat/stylesheet.css");
h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28pt;
    padding:0;margin:0;
}
h2{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size:16pt;
    padding:0;margin:0;
}
p{
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12pt;
    padding:0;margin:0;
    line-height:18pt;
}
.showcase-container{
    margin:0;
    padding:16px 0 16px 0;
    padding-left:auto;
    padding-right:auto;
    overflow: hidden;
    flex-grow:1;
}
.showcase-image{
    max-width:100%;
    max-height:100%;
}
